<html>
<title>flight home</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
  * {box-sizing: border-box}

  body, html {
      height: 100%;
      margin: 0;
      font-family: Arial;
  }

  .tablink {
      background-color: #1e90ff;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 280px;
      font-size: 17px;
      width: 25%;
  }

  .tablink:hover {
      background-color: #6495ed;
  }

  .tabcontent {
      color: white;
      display: none;
      padding: 100px 20px;
      height: 100%;
  }
</style>
</head>
<body style="background-color:powderblue;">

<div class="container">
  <button class="tablink"><a href="/search_info">search flight</a></button>
  <button class="tablink"><a href="/detail_info">detail info</a></button>
  <button class="tablink"><a href="/record_trip">rate trip</a></button>
</div>
<br/>
<br/>
<br/>
<p>Here is Record Trip Page</p>
<div class="container">
  <form method="POST" action="/add">
    <p>Test case suggestion: </p>
    <p>email: put your registered email; airlinecode: AA; flightnumber: 1888; aircraftcode: B777; date: 2018-11-26;</p>
    <p>Arrival Airport: SFO; Arrival Terminal: 1; Departure Airport: JFK; Departure Terminal: 1;</p>
    <label for="email">Email: </label>
    <input type="email" id="email" placeholder="Enter email" name="email" required>
    <br/>
    <br/>
    <label for="airlinecode">Airline Code: </label>
    <input type="text" id="airlinecode" placeholder="Enter Airline Code" name="airlinecode" required>
    <br/>
    <br/>
    <label for="flightnumber">Flight Number: </label>
    <input type="text" id="flightnumber" placeholder="Enter Flight Number" name="flightnumber" required>
    <br/>
    <br/>
    <label for="aircraftcode">Aircraft Code: </label>
    <input type="text" id="aircraftcode" placeholder="Enter Aircraft Code" name="aircraftcode" required>
    <br/>
    <br/>
    <label for="date">Date: </label>
    <input type="text" id="date" placeholder="Enter YYYY-MM-DD" name="date" required>
    <br/>
    <br/>
    <label for="arrivalairport">Arrival Airport: </label>
    <input type="text" id="arrivalairport" placeholder="Enter Arrival Airport" name="arrivalairport" required>
    <br/>
    <br/>
    <label for="arrivalterminal">Arrival Terminal: </label>
    <input type="text" id="arrivalterminal" placeholder="Enter Arrival Terminal" name="arrivalterminal" required>
    <br/>
    <br/>
    <label for="departureairport">Departure Airport: </label>
    <input type="text" id="email" placeholder="Enter Departure Airport" name="departureairport" required>
    <br/>
    <br/>
    <label for="departureterminal">Departure Terminal: </label>
    <input type="text" id="departureterminal" placeholder="Enter Terminal" name="departureterminal" required>
    <br/>
    <br/>

    <p>Please rate your trip: 5 is the highest, 1 is the lowest</p>

    <label for="valueformoney">Value For Money: </label>
    <select id="valueformoney" name="valueformoney">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br/>
    <br/>
    <label for="foodbeverages">Food and Beverages: </label>
    <select id="foodbeverages" name="foodbeverages">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br/>
    <br/>
    <label for="entertainment">Entertainment: </label>
    <select id="entertainment" name="entertainment">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br/>
    <br/>
    <label for="delay">Delay: </label>
    <select id="delay" name="delay">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br/>
    <br/>
    <label for="seatcomfortable">Seat Comfortable: </label>
    <select id="seatcomfortable" name="seatcomfortable">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br/>
    <br/>
    <label for="staffservice">Staff Service: </label>
    <select id="staffservice" name="staffservice">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>

    <br/>
    <br/>
    <label for="comment">Comment: </label>
    <input type="text" id="comment" placeholder="Please write your comment here..." name="comment" required>

    <br/>
    <br/>
    <input type="submit" value="Add">
  </form>

  <form action="/logout">
    <input type="submit" value="log out">
  </form>
</div>


</body>
</html>
