<html>
<title>flight home</title>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

/* Style tab links */
.tablink {
    background-color: #1e90ff;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 200px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #6495ed;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

</style>
</head>
<body style="background-color:powderblue;">

<div class="container">
  <button class="tablink"><a href="/search_info">search flight</a></button>
  <button class="tablink"><a href="/detail_info">detail info</a></button>
  <button class="tablink"><a href="/record_trip">rate trip</a></button>
  <button class="tablink"><a href="/user_detail">user detail</a></button>
</div>
<br/>
<br/>
<br/>
<p>Here is User Detail Page</p>
<div class="container">
  <form method="POST" action="/search_user_detail">
    <label for="uname"><b>Email</b></label>
    <input class="w3-input" type="email" placeholder="Enter Email" name="email" required>
    <br/>
    <label for="psw"><b>Password</b></label>
    <input class="w3-input" type="password" placeholder="Enter Password" name="password" required>
    <br/>
    <input type="submit" value="search">
  </form>
</div>
<br/>

<form action="/logout">
  <input type="submit" value="log out">
</form>
<br/>

<div class="w3-container w3-hover-shadow w3-center" style="weight:80%;">
{% for n in data %}
  <div class="w3-display-container w3-blue" style="height:50px;">
      <div class="w3-display-left">Air Company</div>
      <div class="w3-display-right">{{n[0]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:50px;">
      <div class="w3-display-left">Flight Number</div>
      <div class="w3-display-right">{{n[1]}}</div>
  </div>

  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Value For Money</div>
      <div class="w3-display-right">{{n[2]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Food and Beverages</div>
      <div class="w3-display-right">{{n[3]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Entertainment</div>
      <div class="w3-display-right">{{n[4]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Delay</div>
      <div class="w3-display-right">{{n[5]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Seat Comfortable</div>
      <div class="w3-display-right">{{n[6]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Staff Service</div>
      <div class="w3-display-right">{{n[7]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Comments</div>
      <div class="w3-display-right">{{n[8]}}</div>
  </div>

  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Departure Airport</div>
      <div class="w3-display-right">{{n[9]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Departure Terminal</div>
      <div class="w3-display-right">{{n[10]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Departure City</div>
      <div class="w3-display-right">{{n[11]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Departure State</div>
      <div class="w3-display-right">{{n[12]}}</div>
  </div>

  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Arrival Airport</div>
      <div class="w3-display-right">{{n[13]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Arrival Terminal</div>
      <div class="w3-display-right">{{n[14]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Arrival City</div>
      <div class="w3-display-right">{{n[15]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Arrival State</div>
      <div class="w3-display-right">{{n[16]}}</div>
  </div>

  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Date</div>
      <div class="w3-display-right">{{n[17]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Air Alliance</div>
      <div class="w3-display-right">{{n[18]}}</div>
  </div>
  <div class="w3-display-container w3-white w3-hover-blue" style="height:30px;">
      <div class="w3-display-left">Aircraft Capacity</div>
      <div class="w3-display-right">{{n[19]}}</div>
  </div>

<br/>
<br/>
{% endfor %}

</div>

</body>
</html>
